@font-face {
    font-family: "Olivia Dhorgent";
    src: url(../libraries/fonts/Olivia\ Dhorgent\ 2.ttf) format("truetype");
    font-weight: 300;
}
@font-face {
    font-family: "Marryweather";
    src: url(../libraries/fonts/Merriweather-Regular.ttf) format("truetype");
    font-weight: 300;
}
@font-face {
    font-family: "marryweather";
    src: url(../libraries/fonts/Merriweather-Italic.ttf) format("truetype");
    font-weight: 200;
}
@font-face {
    font-family: "gotham";
    src: url(../libraries/fonts/Gotham\ Rounded\ Bold.otf) format("truetype");
    font-weight: 200;
}
@font-face {
    font-family: "gotham2";
    src: url(../libraries/fonts/Gotham\ Rounded\ Book.otf) format("truetype");
    font-weight: 200;
}
@font-face {
    font-family: "gotham";
    src: url(../libraries/fonts/Gotham\ Rounded\ Medium.otf) format("truetype");
    font-weight: 200;
}
@font-face {
    font-family: "gotham3";
    src: url(../libraries/fonts/Gotham\ Rounded\ Medium.otf) format("truetype");
    font-weight: 200;
}
* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    padding: 0;
    margin: 0;
}

#home {
    background-image: url("../img/1.jpg");
    height: 622px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar {
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px,
        rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
    position: fixed;
    width: 100%;
    background-color: white;
    display: flex;
    margin-right: 20px;
    align-items: center;
    z-index: 2;
}

.navbar ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    float: right;
    margin-right: 20px;
    width: 100%;
}

.navbar li {
    list-style: none;
    font-family: gotham3;
    padding: 20px;
    color: black;
}

.navbar a {
    text-decoration: none;
}

.logo img {
    float: left;
    height: 50px;
    padding: 3px;
}

.logo {
    margin-left: 20px;
}

.get-started {
    background-color: #8395a7;
}

.button {
    background-color: #8395a7;
    border-radius: 10px;
    padding: 10px;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px,
        rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    /* display: grid; */
}

.hero-text h1 {
    margin-bottom: 10px;
}
.hero-text a {
    background-color: #8395a7;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
}

.hero-button {
    width: 120px;
    margin: 30px auto;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px,
        rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}

.mini-section {
    display: flex;
}

.mini-image img {
    width: 444px;
    height: 317px;
    border-radius: 21px;
    float: right;
}

.about-us {
    margin-top: 25px;
}

.heading h1 {
    text-align: center;
}

.mini-section-head {
    /* padding: 225px; */
    /* margin-top: -213px; */
}

.text-mini-head {
    padding-right: 88px;
    margin-top: 12px;
    margin-left: 20px;
}

.text-mini-head2 {
    /* padding-left: 500px; */
    /* margin-top: 70px; */
}

.mini-section-head2 {
    padding: 225px;
    margin-top: -470px;
    float: right;
}

.mini-image2 img {
    width: 444px;
    height: 317px;
    border-radius: 21px;
    float: left;
}

.mini-heading2 {
    float: right;
    margin-right: 235px;
    margin-top: 35px;
}

.box-getstarted {
    display: flex;
    justify-content: space-around;
}

.box1 {
    border-radius: 29px;
    background-color: #5758bb;
    width: 177px;
    height: 188px;
    padding: 13px;
    margin-top: 20px;
}

.ourprograms {
    padding: 90px;
    margin-bottom: 64px;
}

.hero-buttonn {
    background-color: #8395a7;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    width: 75px;
    margin: 30px auto;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px,
        rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}

.hero-buttonn a {
    text-decoration: none;
}

.box-items {
    margin-top: 24px;
}
